{% extends "layout.html" %}

{% block title %}  Edit Place Instance:  {{ place_instance['name'] }} {% endblock %}

{% block content %}

<div class="row">
  <div class="large-4 columns show-for-large">
    <p></p>
  </div>

  <div class="large-4 medium-12 columns">

    <form>
      <label>Edit Place Instance</label>
      <label class="name">Place Instance Name
        <input type="text" placeholder={{place_instance['name']}}>
      </label>
      <label class="address" placeholder={{place_instance['address']}}>Address
        <input type="text">
      </label>
      <label class="capacity" placeholder={{place_instance['capacity']}}>Capacity
        <input type="text">
      </label>
      <button class="button success" onclick="dispatchUpdate('place_instance', {{ place_instance['id'] }})">Edit</button>
    </form>
  </div>

  <div class="large-4 show-for-large">
  </div>
</div>

{% endblock %}
