<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}New Place Instance{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script src="https://use.typekit.net/fsh1huw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body style="background-color: rgb(74, 150, 60);">
    <form>
      <div class="row">
        <div class="large-6 columns show-for-large"><p></p></div>
        <div class="large-4 medium-12 columns">
          <div class="callout main-entity" style="background-color: rgb(230, 230, 230);">
            <h3>New Place Instance</h3>
            <div class="row">
              <div class="large-12 columns">
                <label>User:</label>
                <select id="user_id_input">
                  {% for user in users %}
                    <option value="{{user.id}}">{{user.username}}</option>
                  {% endfor %}
                </select>
                <label>City:</label>
                <select id="city_id_input">
                  {% for city in cities %}
                    <option value="{{city.id}}">{{city.name}}</option>
                  {% endfor %}
                </select>
                <label>Place:</label>
                <select id="place_id_input">
                  {% for place in places %}
                    <option value="{{place.id}}">{{place.name}}</option>
                  {% endfor %}
                </select>
                <label class="name">Name
                  <input type="text" placeholder="">
                </label>
                <label class="address">Address
                  <input type="text" placeholder="">
                </label>
                <label class="capacity">Capacity
                  <input type="text" placeholder="">
                </label>
              </div>
            </div>

              <div class="large-12 columns" style="margin-top: 20px;">
                <button  onclick ="addPlaceInstance()" type="button" class="button float-right" style="background-color: green">Add Place Instance</button>
              </div>
            </div>
          </div>
        </div>
        <div class="large-2 columns show-for-large"></div>
      </div>
    </form>

    <script src="{{ url_for('static', filename='js/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/foundation.min.js') }}"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
