{% extends "layout.html" %}

{% block title %} Post Comment nr. {{ place_instance['id'] }} {% endblock %}

{% block content %}

<div class="row">
  <div class="large-2 columns show-for-large">
    <p></p>
  </div>

  <div class="large-8 medium-12 columns">

    <div class="callout">
      <p><a href="/place_instances/{{ place_instance['id'] }}"><span style="background-color: white; color: blue; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Name</span> : {{ place_instance['name'] }}</a></p>
      <p>Address : {{ place_instance['address'] }}</p>
      <p>Capacity : {{ place_instance['capacity'] }}</p>
      <p><a href="/place_instances/{{ place_instance['id'] }}/edit" style="background-color: white; color: purple; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);" >Edit</a></p>
      <button type="button" onclick="dispatchDelete('place_instance', {{ place_instance['id'] }})" style="background-color: white; color: red; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Delete</button>

    </div>
  </div>

  <div class="large-2 show-for-large">
  </div>
</div>

{% endblock %}
