{% extends "layout.html" %}

{% block title %} Post Comment nr. {{ place_instance['id'] }} {% endblock %}

{% block content %}

<div class="row">
  <div class="large-4 columns show-for-large">
    <p></p>
  </div>

  <div class="large-4 medium-12 columns">

    <div class="callout">
      <p>User id : {{ place_instance['user_id'] }}</p>
      <p>Place id : {{ place_instance['place_id'] }}</p>
      <p>Name : {{ place_instance['name'] }}</p>
      <p>Capacity : {{ place_instance['capacity'] }}</p>
      <p><a href="/place_instances/{{ place_instance['id'] }}/edit">Edit</a></p>
    </div>
  </div>

  <div class="large-4 show-for-large">
  </div>
</div>

{% endblock %}
