{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row content">
  <div class="large-2 columns show-for-large">
    <p></p>
  </div>
  <div class="large-6 columns">
    {% for each_feed in feeds %}
    <div class="callout main-entity">
      <div class="row callout-header">
        <div class="large-2 columns main-entity-image"><img src="http://www.yukle.tc/galeri/images/7446muz_buyuk.jpg" /></div>
        <div class="large-8 columns main-entity-identity">
          <p class="identity">
            <a href="/users/{{ each_feed.user_id }}"><span class="name">{{ each_feed.display_name }}</span></a>, <!--
-----------------><span class="place"><i class="fa fa-map-marker" aria-hidden="true"></i>  <a href="/places/{{ each_feed.place_id }}"><span class="place">{{ each_feed.place_name }}<span class="place"></a></p>
          <p class="timestamp">{{ each_feed.inserted_at }}</p>
        </div>
        <div class="large-2 columns">
          <p class="score">{{ each_feed.post_score / 10 }}</p>
        </div>
      </div>
      <h5>{{ each_feed.post_title }}</h5><p class="cost">€ {{ each_feed.cost_of_meal }}</p>
      {% for each_feed_image in each_feed.post_images %}
      <img class="post-image" src="{{ each_feed_image.link }}" />
      {% endfor %}
      <p>{{ each_feed.post_body }}</p>
      <div class="row">
        <div class="large-4 columns"><a class="button float-center social-button"><i class="fa fa-thumbs-up" aria-hidden="true"></i>  Like</a></div>
        <div class="large-4 columns"><a class="button float-center social-button"><i class="fa fa-pencil" aria-hidden="true"></i>  Comment</a></div>
        <div class="large-4 columns"><a class="button float-center social-button"><i class="fa fa-share" aria-hidden="true"></i>  Share</a></div>
      </div>
    </div>
    {% endfor %}
    <div class="callout load-more text-center">
      <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
  </div>
  <div class="large-4 columns show-for-large"></div>
</div>

{% endblock %}
