{% extends "layout.html" %}

{% block title %} Post Images {% endblock %}

{% block content %}

<div class="row">
  <div class="large-4 columns show-for-large">
    <p></p>
  </div>

  <div class="large-4 medium-12 columns">

    <form>
      <label class="link">Link
        <input type="text" value="{{ post_image['link'] }}">
      </label>
      <button class="button success" onclick="dispatchUpdate('post_image', {{ post_image['id'] }})">Submit changes</button>
    </form>
  </div>

  <div class="large-4 columns show-for-large">
  </div>
</div>

{%  endblock %}
