body {
  font-family: "acumin-pro";
  background-color: rgb(233, 235, 238);
}

h1 {
  font-family: "acumin-pro";
}

div.top-bar {
  background-color: rgb(74, 150, 60);
}

div.top-bar ul {
  background-color: transparent;
}

div.top-bar li.menu-text {
  color: white;
}

div.top-bar input {
  border-radius: 3px;
}

div.top-bar input:focus {
  box-shadow: 0px 0px 0px black;
}

div.top-bar a {
  color: white;
}

div.callout.main-entity {
  border-radius: 3px;
  border-color: transparent;
  border-width: 0;
  box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);
  margin-bottom: 40px;
}

div.callout.main-entity h5 {
  font-size: 10pt;
  display: inline-block;
  font-weight: 500;
}

div.callout.main-entity p {
  font-size: 10pt;
  font-weight: 300;
  text-align: justify;
}

div.callout.main-entity img.post-image {
  border: 1px rgb(74, 150, 60);
  margin-bottom: 10px;
}

div.callout.main-entity p.cost {
  display: inline-block;
  background-color: rgb(74, 150, 60);
  color: white;
  border-radius: 3px;
  margin-left: 10px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10pt;
  font-weight: 700;
}

div.row.content {
  margin-top: 20px;
}

div.main-entity-image {
  padding-right: 25px;
}

div.main-entity-identity {
  padding-right: 0;
  padding-left: 0px;
  margin-left: -15px;
}

p.identity {
  font-size: 10pt;
  margin-bottom: 0.2rem;
}

span.name {
  font-size: 12pt;
  font-weight: 400;
}

span.place {
  color: rgb(74, 150, 60);
  font-weight: 600;
}

p.timestamp {
  color: rgb(175, 175, 175);
  font-size: 9pt;
  font-weight: 500;
}

div.callout.main-entity p.score {
  font-weight: 700;
  font-size: 24pt;
}

p.results {
  margin-left: 20px;
}

a.button.float-center.social-button {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  color: rgb(74, 150, 60);
  margin-bottom: 0;
}

a.button.float-center.social-button:hover {
  background-color: rgb(74, 150, 60);
  color: white;
}
