{% extends "layout.html" %}

{% block title %} Check-in Comments  {{ check_in_comment['id'] }} {% endblock %}

{% block content %}

<div class="row">
  <div class="large-4 columns show-for-large">
    <p></p>
  </div>

  <div class="large-4 medium-12 columns" style="position: relative; left: 0px;
    top: 150px;">

    <form>
      <label class="body">Body
        <input id="comment_edit" type="text" placeholder="" value="{{ check_in_comment['body'] }}">
      </label>
      <button class="button success" onclick="dispatchUpdate('check_in_comment', {{ check_in_comment['id'] }})">Submit changes</button>
    </form>
  </div>

  <div class="large-4 show-for-large">
  </div>
</div>

{% endblock %}
