{% extends "layout.html" %}

{% block title %} Place Ratings  {{ place_rating['id'] }} {% endblock %}

{% block content %}

<div class="row">
  <div class="large-4 columns show-for-large">
    <p></p>
  </div>

  <div class="large-4 medium-12 columns">

    <form>
      <label class="body">Body
        <select id="rating_input">
            <option value="{{1}}">1</option>
            <option value="{{2}}">2</option>
            <option value="{{3}}">3</option>
            <option value="{{4}}">4</option>
            <option value="{{5}}">5</option>
            <option value="{{6}}">6</option>
            <option value="{{7}}">7</option>
            <option value="{{8}}">8</option>
            <option value="{{9}}">9</option>
            <option value="{{10}}">10</option>
        </select>
      </label>
      <button class="button success" onclick="dispatchUpdate('place_rating', {{ place_rating['id'] }})">Submit new rating</button>
    </form>
  </div>

  <div class="large-4 show-for-large">
  </div>
</div>

{% endblock %}
