
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script src="https://use.typekit.net/fsh1huw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body style="background-color: rgb(74, 150, 60);">
    <form>
      <div class="row">
        <div class="large-6 columns show-for-large"><p></p></div>
        <div class="large-4 medium-12 columns">
          <div class="callout main-entity" style="background-color: rgb(230, 230, 230);">
            <h3>Submit</h3>
            <div class="row">
              <div class="large-12 columns">
                <label>Rating:</label>
                <select id="rating_input">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label>As user:</label>
                <select id="user_id_input">
                  {% for user in users %}
                    <option value="{{user.id}}">{{user.username}}</option>
                  {% endfor %}
                </select>
                <label>To Place:</label>
                <select id="place_id_input">
                  {% for place in places %}
                    <option value="{{place.id}}">{{place.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="large-12 columns" style="margin-top: 20px;">
                <button onclick="addRating()" type="button" class="button float-right" style="background-color: green">Add Rating</button>
              </div>
            </div>
          </div>
        </div>
        <div class="large-2 columns show-for-large"></div>
      </div>
    </form>

    <script src="{{ url_for('static', filename='js/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/foundation.min.js') }}"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
