{% extends "layout.html" %}

{% block title %} Place Ratings nr. {{ place_rating['id'] }} {% endblock %}

{% block content %}

<div class="row">
  <div class="large-4 columns show-for-large">
    <p></p>
  </div>

  <div class="large-4 medium-12 columns">

    <div class="callout">
      <p>{{ place_rating['rating'] }}</p>
      <p>{{ place_rating['username'] }}</p>
      <p>{{ place_rating['check_in_id'] }}</p>
      <p><a href="/place_ratings/{{ place_rating['id'] }}/edit">Edit</a></p>
    </div>
  </div>

  <div class="large-4 show-for-large">
  </div>
</div>

{% endblock %}
