{% extends "layout.html" %}

{% block title %} Chat Rooms {% endblock %}

{% block content %}

<div class="row">
  <div class="large-4 columns show-for-large">
    <p></p>
  </div>

  <div class="large-4 medium-12 columns">
    <p>Total number of Chat Rooms: {{ count }}</p>
    <a href="/chat_rooms/new">Add new Chat Room</a>
    {% for chat_room in chat_rooms %}
    <div class="callout">
      <p>Chat Room Owner : {{ chat_room['username'] }}</p>
      <p>Chat Room Name : {{ chat_room['name'] }}</p>
      <p>Messages:</p>
      {% for chat_room_message in chat_room.chat_room_messages %}
        <div class="callout">
          <p>Message Owner : {{ chat_room_message['username'] }}</p>
          <p>Message : {{ chat_room_message['body'] }}</p>
          <button type="button" onclick="dispatchDelete('chat_room_message', {{ chat_room_message['id'] }})" style="background-color: white; color: red; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Delete</button>
        </div>
      {% endfor %}
      <button type="button" onclick="dispatchDelete('chat_room', {{ chat_room['id'] }})" style="background-color: white; color: red; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Delete</button>
    </div>
    {% endfor %}
  </div>

  <div class="large-4 show-for-large">
  </div>
</div>

{% endblock %}
