{% extends "layout.html" %}

{% block title %} Room Name: {{ chat_room['name'] }} {% endblock %}

{% block content %}

<div class="row">
  <div class="large-0 columns show-for-large">
    <p></p>
  </div>

  <div class="large-10 medium-12 columns">

    <div class="callout">
      <p>Chat Room Name: {{ chat_room['name'] }}</p>

      <p>Messages:</p>
      {% for chat_room_message in chat_room_messages %}
        <div class="callout">
          <p><a href="/chat_room_messages/{{chat_room_message['id']}}"><span style="background-color: white; color: orange; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Message Owner</span> : {{ chat_room_message['username'] }}</a></p>
          <p>Message : {{ chat_room_message['body'] }}</p>
          <p><a href="/chat_room_messages/{{ chat_room_message['id'] }}/edit" style="background-color: white; color: purple; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Edit</a></p>
          <button type="button" onclick="dispatchDelete('chat_room_message', {{ chat_room_message['id'] }})" style="background-color: white; color: red; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Delete</button>
        </div>
      {% endfor %}
      <p><a href="/chat_room_messages/new" style="background-color: white; color: green; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Add New Message</a></p>
      <p><a href="/chat_rooms/{{ chat_room['id'] }}/edit" style="background-color: white; color: purple; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Edit</a></p>
      <button type="button" onclick="dispatchDelete('chat_room', {{ chat_room['id'] }})" style="background-color: white; color: red; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Delete</button>
    </div>
  </div>

  <div class="large-2 show-for-large">
  </div>
</div>

{% endblock %}
