<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script src="https://use.typekit.net/fsh1huw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <div class="top-bar">
      <input id="search" type="search" placeholder="Search people, places and cities..." style="display: inline;" autocomplete="off" maxlength="20" disabled>
    </div>
    <div class="top-bar-extend">
      <div class="row top-bar-extend-cell cell-0">
        <a>
          <div class="small-2 columns">
            <div class="profile-image-search"></div>
          </div>
          <div class="small-10 columns">
            <p class="display-name"></p></br>
            <p><span class="username"></span></p>
          </div>
        </a>
      </div>
      <div class="row top-bar-extend-cell cell-1">
        <a>
          <div class="small-2 columns">
            <div class="profile-image-search"></div>
          </div>
          <div class="small-10 columns">
            <p class="display-name"></p></br>
            <p><span class="username"></span></p>
          </div>
        </a>
      </div>
      <div class="row top-bar-extend-cell cell-2">
        <a>
          <div class="small-2 columns">
            <div class="profile-image-search"></div>
          </div>
          <div class="small-10 columns">
            <p class="display-name"></p></br>
            <p><span class="username"></span></p>
          </div>
        </a>
      </div>
      <div class="row top-bar-extend-cell cell-3">
        <a>
          <div class="small-2 columns">
            <div class="profile-image-search"></div>
          </div>
          <div class="small-10 columns">
            <p class="display-name"></p></br>
            <p><span class="username"></span></p>
          </div>
        </a>
      </div>
      <div class="row top-bar-extend-cell cell-4">
        <a>
          <div class="small-2 columns">
            <div class="profile-image-search"></div>
          </div>
          <div class="small-10 columns">
            <p class="display-name"></p></br>
            <p><span class="username"></span></p>
          </div>
        </a>
      </div>
    </div>

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/dist/jquery.js') }}"></script>
    <script   src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/dist/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/foundation.min.js') }}"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
