{% extends "layout.html" %}

{% block title %}  Places {% endblock %}

{% block content %}

<div class="row">
  <div class="large-4 columns show-for-large">
    <p></p>
  </div>

  <div class="large-4 medium-12 columns">
    <p>Total number of Places :{{count}}</p>
    <a href="/places/new">Add new  Place</a>
    {% for place in places %}
    <div class="callout">
      <p>Place Name : {{ place['name'] }}</p>
      <p>User Name : {{ place['username'] }}</p>
      <p>Decription : {{ place['description'] }}</p>
      <p>Place Instances :</p>
      {% for each_place_instance in place.place_instances %}
        <div class="callout">
          <p><a href="/place_instances/{{ each_place_instance['id'] }}">Name : {{ each_place_instance['name'] }}</a></p>
          <p>Address : {{ each_place_instance['address'] }}</p>
          <p>Capacity : {{ each_place_instance['capacity'] }}</p>
          <p><a href="/place_instances/{{ each_place_instance['id'] }}/edit">Edit</a></p>
          <button type="button" onclick="dispatchDelete('place_instance', {{ each_place_instance['id'] }})">Delete</button>

        </div>
      {% endfor %}
      <p><a href="/places/{{ place['id'] }}/edit">Edit</a></p>
      <button type="button" onclick="dispatchDelete('place', {{ place['id'] }})" style="background-color: white; color: red; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Delete</button>
    </div>
    {% endfor %}
  </div>

  <div class="large-4 show-for-large">
  </div>
</div>

{% endblock %}
