{% extends "layout.html" %}

{% block title %} {{ place['name'] }} {% endblock %}

{% block content %}

<div class="row">
  <div class="large-4 columns show-for-large">
    <p></p>
  </div>

  <div class="large-4 medium-12 columns">

    <div class="callout">
      <p>{{ place['name'] }}</p>
      <p>{{ place['description'] }}</p>
      <p>Place Instances</p>
      {% for each_place_instance in place_instances %}
        <div class="callout">
          <p>Name : {{ each_place_instance['name'] }}</p>
          <p>Address : {{ each_place_instance['address'] }}</p>
          <p>Capacity : {{ each_place_instance['capacity'] }}</p>

          <button type="button" onclick="dispatchDelete('place_instance', {{ each_place_instance['id'] }})">Delete</button>

        </div>
      {% endfor %}
      <p><a href="/places/{{ place['id'] }}/edit">Edit</a></p>

    </div>
  </div>

  <div class="large-4 show-for-large">
  </div>
</div>

{% endblock %}
