{% extends "layout.html" %}

{% block title %}{{ Users }}{% endblock %}

{% block content %}

<div class="row content">
  <div class="large-8 columns">
    <div class="row sub-header">
      <h5>Users&nbsp;<span>{{ count }} user{{ 's' if count > 1 else '' }} at total</span></h5>
    </div>
    <a href="/users/new">Add new user</a>
    <div class="row small-up-1 large-up-4">
      {% for each_user in users %}
      <div class="column">
        <div class="callout friend-entity-large">
          <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
          <h5><a href="/users/{{ each_user['id'] }}">{{ each_user['username'] }}</a></h5>
          <button type="button" onclick="dispatchDelete('user', {{ each_user['id'] }})" class="button float-right" style="border-radius: 1000px; background-color: white; color: black; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);"><i class="fa fa-trash" aria-hidden="true"></i></button>
          <button type="button" onclick="window.location.replace('/users/{{ each_user['id'] }}/edit')" class="button float-right" style="border-radius: 1000px; background-color: white; color: black; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="large-4 columns show-for-large"></div>
</div>

{% endblock %}
