<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script src="https://use.typekit.net/fsh1huw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Username
            <input type="text" placeholder="">
          </label>
        </div>
        <div class="large-12 columns">
          <label>Password
            <input type="password" placeholder="">
          </label>
        </div>
        <div class="large-12 columns">
          <label>Re-enter password
            <input type="password" placeholder="">
          </label>
        </div>
        <div class="large-12 columns">
          <label>Email
            <input type="text" placeholder="example@mail.com">
          </label>
        </div>
        <div class="large-12 columns">
          <button type="button" class="button">Sign Up</button>
        </div>
      </div>
    </form>

    <script src="{{ url_for('static', filename='js/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/foundation.min.js') }}"></script>
  </body>
</html>
