{% extends "layout.html" %}

{% block title %}Foodle - {{ user.display_name }}{% endblock %}

{% block content %}

<div id="container" class="row content" data-sender-id="{{ user.id }}">
  <div class="large-2 columns show-for-large">
    <p></p>
  </div>

  <!-- User card -->
  <div class="medium-12 large-3 columns">
    <div class="callout main-entity" style="height: 445px;">
      <div class="profile-image-meta" style="background-image: url('{{ user.image_url }}'); margin: -16px; margin-bottom: 0;"></div>
      <h1 style="margin-top: 20px; margin-bottom: 0;">{{ user.display_name }}</h1>
      <h3 style="color: grey;">@{{ user.username }}</h3>
      <h5><a href="/places/1" style="color: rgb(74, 150, 60);"><i class="fa fa-map-marker" aria-hidden="true"></i>  Sacramento, CA</a></h5>
      <div class="row profile-image-meta-alt">
        <div class="small-4 columns text-center" style="border-right: 0.5px solid black">
          <h3>{{ user.number_of_posts }}</h3>
          <p style="text-align: center;">{{ 'posts' if user.number_of_posts > 1 else 'post' }}</p>
        </div>
        <div class="small-4 columns text-center">
          <h3>{{ user.number_of_friends }}</h3>
          <p style="text-align: center;">{{ 'friends' if user.number_of_posts > 1 else 'friend' }}</p>
        </div>
        <div class="small-4 columns text-center" style="border-left: 0.5px solid black">
          <h3>70%</h3>
          <p style="text-align: center;">activity</p>
        </div>
      </div>
    </div>
    <a href="/users/{{ user.id }}/edit" class="small expanded button" style="border-radius: 3px;"><i class="fa fa-pencil" aria-hidden="true"></i>  Edit User</a>
    <button id="delete-user" data-user-id="{{ user.id }}" type="button" class="small expanded alert button" style="border-radius: 3px;"><i class="fa fa-times" aria-hidden="true"></i>  Delete User</button>
  </div>

  <!-- User feed -->
  <div class="medium-12 large-6 columns">
      <p style="font-weight: 500; color: white; margin-bottom: 5px; background-color: #1583cc; border-radius: 3px; padding-left: 15px; vertical-align: center; line-height: 24pt;"><i class="fa fa-rss" aria-hidden="true"></i><a style="color: white;" href="/users/{{ user.id }}/feed">&nbsp;&nbsp;&nbsp;Show user's feed from his/her eyes</a></p>
    {% if feeds[0] %}
      <p style="font-weight: 500; color: white; margin-bottom: 5px; background-color: rgb(74, 150, 60); border-radius: 3px; padding-left: 15px; vertical-align: center; line-height: 24pt;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Activity</p>
      {% for each_feed in feeds %}
      <div class="callout main-entity">
        <div class="row callout-header">
          <div class="large-10 columns main-entity-identity" style="margin: 0; padding: 1rem; padding-bottom: 0;">
            <p class="identity">
              <a href="/places/{{ each_feed.place_id }}"><span class="place"><i class="fa fa-map-marker" aria-hidden="true"></i>  {{ each_feed.place_name }}</span></a>
            <p class="timestamp">{{ each_feed.inserted_at }}</p>
          </div>
          <div class="large-2 columns">
            <p class="score">{{ each_feed.post_score / 10 }}</p>
          </div>
        </div>
        <h5>{{ each_feed.post_title }}</h5><p class="cost">€ {{ each_feed.cost_of_meal }}</p>
        {% for each_feed_image in each_feed.post_images %}
        <img class="post-image" src="{{ each_feed_image.link }}" />
        {% endfor %}
        <p>{{ each_feed.post_body }}</p>
        <div class="row">
          <div class="large-3 columns"><p></p></div>
          <div class="large-3 columns"><a class="small extended button" style="border-radius: 3px;" href="/posts/{{ each_feed.post_id }}/edit">Edit post</a></div>
          <div class="large-3 columns"><button id="delete-post" class="small extended alert button" style="border-radius: 3px;" data-post-id="{{ each_feed.post_id }}" data-user-id="{{ each_feed.user_id }}">Delete post</a></div>
          <div class="large-3 columns"><p></p></div>
        </div>
        <div class="row">
          <div class="large-4 columns"><a class="button float-center social-button like-button" data-ajax="/posts/{{ each_feed.post_id }}/like" data-exists="{{ each_feed.is_liked }}"><i class="fa fa-thumbs-up" aria-hidden="true"></i>  {{ each_feed.like_count }} like</a></div>
          <div class="small-4 columns"><a class="button float-center social-button"><i class="fa fa-pencil" aria-hidden="true"></i>  Comment</a></div>
          <div class="small-4 columns"><a class="button float-center social-button"><i class="fa fa-share" aria-hidden="true"></i>  Share</a></div>
        </div>
      </div>
      {% endfor %}
    {% else %}
    <div class="callout" style="margin-top:100px; border-color: transparent; border-radius: 5px; box-shadow: 9px 6px 21px -7px rgba(0,0,0,0.39);">
      <h5 class="text-center"><i class="fa fa-bomb" aria-hidden="true" style="font-size: 40pt; text-shadow: 2px 2px 11px rgba(150, 150, 150, 1);"></i></h5>
      <p class="text-center" style="font-size: 20pt;">Weird.</p>
      <p class="text-center">This is a bomb.</p>
      <p class="text-center">It looks like all posts flee away.</br>Yet this user may have not written any post, either.</p>
    </div>
    {% endif %}
  </div>

  <div class="large-3 columns show-for-large">
  </div>
</div>

{% endblock %}
