{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<div class="row content">
  <div class="large-8 columns">
    <a href="/users">Back to all users view</a>
    <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
    <h5 style="font-weight: 500;">{{ user['username'] }}</span></h5>
    <button type="button" onclick="dispatchDelete('user', {{ user['id'] }})" class="button float-right" style="border-radius: 1000px; background-color: white; color: black; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);"><i class="fa fa-trash" aria-hidden="true"></i></button>
    <button type="button" onclick="window.location.replace('/users/{{ user['id'] }}/edit')" class="button float-right" style="border-radius: 1000px; background-color: white; color: black; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);"><i class="fa fa-pencil" aria-hidden="true"></i></button>
  </div>
  <div class="large-4 columns show-for-large"></div>
</div>

{% endblock %}
