<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script src="https://use.typekit.net/fsh1huw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <div class="container">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><a href="/">Foodle</a></li>
            <li><input type="search" placeholder="Search"></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="/friends">Friends</a></li>
            <li><a href="/cities">Cities</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/places">Places</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row header">
      <h5>People</h5>
      <h6><span class="friends-pending">5 requests pending</span></h6>
    </div>

    <div class="row content">
      <div class="large-8 columns">
        <div class="row sub-header">
          <h5>Your friends&nbsp;<span>24 friends at total</span></h5>
        </div>
        <div class="row small-up-1 large-up-4">
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
          <div class="column">
            <div class="callout friend-entity-large">
              <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
              <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
              <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
              <h6 class="friend-entity-location">Warsaw, Poland</h6>
              <p class="text-center">203k subscribers</p>
            </div>
          </div>
        </div>
        <div class="row sub-header">
          <h5>People you may like to know</h5>
        </div>
        <table>
        <tbody>
          <tbody>
            <tr>
              <td><img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" /></td>
              <td class="identity"><div>
                <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
                <h6 class="identity-desc">Chief at <a class="identity-place">Ramada Hotel, Warsaw</a></h6>
                <h6 class="identity-location">Warsaw, Poland</h6>
                <p class="text-left subs">203k subscribers</p><p class="text-left pushes">27 pushes/month</p>
              </div></td>
              <td class="text-center"><button class="add-friend"><i class="fa fa-plus" aria-hidden="true"></i></br>Add friend</button></td>
            </tr>
            <tr>
              <td><img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" /></td>
              <td class="identity"><div>
                <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
                <h6 class="identity-desc">Chief at <a class="identity-place">Ramada Hotel, Warsaw</a></h6>
                <h6 class="identity-location">Warsaw, Poland</h6>
                <p class="text-left subs">203k subscribers</p><p class="text-left pushes">27 pushes/month</p>
              </div></td>
              <td class="text-center"><button class="add-friend"><i class="fa fa-plus" aria-hidden="true"></i></br>Add friend</button></td>
            </tr>
            <tr>
              <td><img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" /></td>
              <td class="identity"><div>
                <h5><a href="#">Muratcan Şahin Köseoğlu</a></h5>
                <h6 class="identity-desc">Chief at <a class="identity-place">Ramada Hotel, Warsaw</a></h6>
                <h6 class="identity-location">Warsaw, Poland</h6>
                <p class="text-left subs">203k subscribers</p><p class="text-left pushes">27 pushes/month</p>
              </div></td>
              <td class="text-center"><button class="add-friend"><i class="fa fa-plus" aria-hidden="true"></i></br>Add friend</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="large-4 columns show-for-large"></div>
    </div>
  </body>
</html>
