<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <script src="https://use.typekit.net/fsh1huw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <div class="container">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><a href="/">Foodle</a></li>
            <li><input type="search" placeholder="Search"></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="/friends">Friends</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row content">
      <div class="large-2 columns show-for-large">
        <p> FRIENDS</p>
      </div>
      <div class="large-6 columns">
        <div class="callout main-entity">
          <div class="row">
            <p class="results">All your friends listed here</p>
            <div class="callout main-entity">
              <div class="row">
                <div class="large-3 columns main-entity-image"><img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" /></div>
                <div class="large-7 columns main-entity-identity">
                  <p class="identity"><span class="name">Muratcan Şahin</span></p>
                  <p>İstanbul</p>
                  <p>Öğrenci</p>
                </div>
                <div class="large-3 columns">
                  <a href="#"><p href="#" >Go To Profile</p></a>
                </div>
              </div>
            </div>

            <div class="callout main-entity">
              <div class="row">
                <div class="large-3 columns main-entity-image"><img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/11836678_10153558380168734_8085012425257075567_n.jpg?oh=0cdda77738cce86a968c1104f393250f&oe=58AC4588" /></div>
                <div class="large-7 columns main-entity-identity">
                  <p class="identity"><span class="name">Alperen Koytak</span></p>
                  <p>İstanbul</p>
                  <p>Öğrenci</p>
                </div>
                <div class="large-3 columns">
                  <a href="#"><p href="#" >Go To Profile</p></a>
                </div>
              </div>
            </div>

            <div class="callout main-entity">
              <div class="row">
                <div class="large-3 columns main-entity-image"><img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c27.0.160.160/p160x160/10615357_1461255427487132_2176134702693458299_n.jpg?oh=ce3077f0e7bfcfaf90eda4ece873cec8&oe=58962AEE" /></div>
                <div class="large-7 columns main-entity-identity">
                  <p class="identity"><span class="name">Hasan Burak Namlı</span></p>
                  <p>İstanbul</p>
                  <p>Öğrenci</p>
                </div>
                <div class="large-3 columns">
                  <a href="#"><p href="#" >Go to Profile</p></a>
                </div>
              </div>
            </div>
            
            
        </div>
        </div>
      </div>
      <div class="large-4 columns show-for-large"></div>
    </div>


      

      
