{% extends "layout.html" %}

{% block title %} Chat Room Message {% endblock %}

{% block content %}

<div class="row">
  <div class="large-0 columns show-for-large">
    <p></p>
  </div>

  <div class="large-10 medium-12 columns">

    <div class="callout">
      <p><a href="/chat_room_messages/{{chat_room_message['id']}}"><span style="background-color: white; color: orange; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Message Owner</span> : {{ chat_room_message['username'] }}</a></p>
      <p>Message : {{ chat_room_message['body'] }}</p>
      <p><a href="/chat_rooms/{{ chat_room_message['chat_room_id'] }}" style="background-color: white; color: blue; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Go to Chat Room</a></p>
      <p><a href="/chat_room_messages/{{ chat_room_message['id'] }}/edit" style="background-color: white; color: purple; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Edit</a></p>
      <button type="button" onclick="dispatchDelete('chat_room_message', {{ chat_room_message['id'] }})" style="background-color: white; color: red; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);">Delete</button>
    </div>
  </div>

  <div class="large-4 show-for-large">
  </div>
</div>

{% endblock %}
