{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row content">
  <div class="large-3 columns show-for-large">
    <p>Places ({{ count }} place{{ 's' if count > 1 else '' }} at total)</p>
  </div>
  <div class="large-6 columns">
    <div class="row">
      {% for each_place in places %}
      <div class="callout main-entity">
        <div class="row">
          <div class="large-2 columns main-entity-image"><img src="http://www.yukle.tc/galeri/images/7446muz_buyuk.jpg" /></div>
          <div class="large-8 columns main-entity-identity">
            <p class="identity"><span class="name">{{ each_place.name }}</span></p>
            <p class="timestamp">{{ each_place.inserted_at }}</p>
          </div>
          <div class="large-2 columns">
            <p class="score">4.6</p>
          </div>
        </div>
        <p>{{ each_place.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="large-3 columns show-for-large"></div>
</div>


{% endblock %}
