{% extends "layout.html" %}

{% block title %}Friends{% endblock %}

{% block content %}

    <div class="row header">
      <div class="large-8 columns">
        <div class="row sub-header">
          <div class="row sub-header">
          <h5><a href="../friend_requests">Friend Requests&nbsp;</a><span></span></h5>
          <a href="../friends"><h6><span class="friends-pending">Friends {{friend_count}} at total</span></h6></a>
          </div>
        </div>

        <form action="search" method="POST">
        <div class="row small-up-1 large-up-4">
        <input type="text" name="search_friend" placeholder="Search friends">
        </div>
        </form>
        <div class="row small-up-1 large-up-4">
          {% for friend in friends %}
            <div class="column">
              <div class="callout friend-entity-large">
                <img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
                <h5><a href="/users/{{friend.id}}">{{friend.username}}</a></h5>
                <h6 class="friend-entity-desc">Chief at <a class="friend-entity-place">Ramada Hotel, Warsaw</a></h6>
                <h6 class="friend-entity-location">Warsaw, Poland</h6>
                <p class="text-center">203k subscribers</p>

                <form  method="POST">
                  <input type="hidden" name = "user_to_get" value="{{friend.id}}">
                  <td class="text-center"><button class="remove-friend" name="remove_friend"><i class="fa fa-minus" aria-hidden="true"></i></br>Remove friend</button></td>
                </form>

              </div>
            </div>
          {%endfor%}
        </div>
      </div>
    </div>

    <div class="large-4 columns show-for-large"></div>

{% endblock %}
