{% extends "layout.html" %}

{% block title %}Friend Requests{% endblock %}

{% block content %}

    <div class="row header">
      <div class="large-8 columns">
        <div class="row sub-header">
          <div class="row sub-header">
          <h5><a href="/users/{{current_user}}/friend_requests">  {{request_count}} Friend Requests at total</a><span></span></h5>
          <a href="/users/{{current_user}}/friends"><h3><span class="friends-pending"> go to friends </span></h3></a>
          </div>
        </div>

        <div class="row small-up-1 large-up-4">
          {% for request in requests %}
            <div class="column">
              <div class="callout friend-entity-large">
                <div class="profile-image-meta" style=" margin: -16px; margin-bottom: 0;"><img class="profile-image-small" src="{{ request.url if request.url != None else '' }}" /></div>
                <h3><a href="/users/{{request.id}}">{{request.display_name}}</a></h3>
                <h3><a style="color: grey;" href="/users/{{request.id}}">@{{request.username}}</a></h3>
                <h5><a href="/places/1" style="color: rgb(74, 150, 60);"><i class="fa fa-map-marker" aria-hidden="true"></i>  Sacramento, CA</a></h5>

                <form  method="POST">
                  <input type="hidden" name = "user_to_get" value="{{request.id}}">
                  <td class="text-center"><button class="add-friend" name="add_friend" onclick="window.location.replace('/users/{{ current_user }}/friend_requests')" style="border-radius: 1000px; background-color: white; color: black; box-shadow: 3px 3px 25px -8px rgba(0,0,0,0.3);"><i class="fa fa-plus" aria-hidden="true"></i>Accept Friend Request</button></td>
                </form>

              </div>
            </div>
          {%endfor%}
        </div>
      </div>
    </div>

    <div class="large-4 columns show-for-large"></div>

{% endblock %}
