{% extends "layout.html" %}

{% block title %}Friend Requests{% endblock %}

{% block content %}

    <div class="row header">
      <div class="row sub-header">
          <div class="row sub-header">
          <h5><a href="./friends">Friends&nbsp;</a></h5>
          <a href="./friend_requests"><h6><span class="friends-pending">Requests {{request_count}} </span></h6></a>
          </div>
        </div>
          <table>

            {% for request in requests %}
              <tbody>
                <tr>
                <td><img class="profile-image-small" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/1237511_10151868918624660_239031100_n.jpg?oh=e17b00daf53561c0267e9ba3a204f27c&oe=58A37DAC" />
                </td>
                <td class="identity">
                  <h5><a href="/users/{{request.id}}">{{request.username}}</a></h5>
                  <h6 class="identity-desc">Chief at <a class="identity-place">Ramada Hotel, Warsaw</a></h6>
                  <h6 class="identity-location">Warsaw, Poland</h6>
                  <p class="text-left subs">203k subscribers</p><p class="text-left pushes">27 pushes/month</p>
                </td>

                <form  method="POST">
                  <input type="hidden" name = "user_to_get" value="{{request.id}}">
                  <td class="text-center"><button class="add-friend" name="add_friend" ><i class="fa fa-plus" aria-hidden="true"></i></br>Add friend</button></td>
                </form>

                </tr>
              </tbody>
            {%endfor%}


          </table>
        </div>



    <div class="large-4 columns show-for-large"></div>

{% endblock %}
